* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

:root {
    --main-color: #f8b281;
    --secondary-color: #1b1b1b;
}


@font-face {
    font-family: "editorsnote";
    src: url("./assets/Editor'sNote-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "editorsnote";
    src: url("./assets/Editor'sNote-Italic.woff");
    font-weight: normal;
    font-style: italic;
}


h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
    font-family: "editorsnote";
}

h3 {
    font-size: 1.25rem;
    line-height: 125%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav svg {
    cursor: pointer;
}


.links {
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
}

.links a {
    color: var(--secondary-color);
    font-size: 2rem;
}

.links svg {
    width: 2rem;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "editorsnote";
}

.logo svg {
    width: 2rem;
}


.front-page {
    min-height: 100vh;
    color: #FFF;
 padding: 0.25rem 1.5rem 0rem 1.5rem;
}

.selling-point {
    margin-top: 25vh;
    font-family: "editorsnote", sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.497);
    text-align: center;
}

.selling-point h3 {
    font-style: italic;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.497);
}

.ctas {
    margin-top: 2rem;
}


.ctas button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
    margin: 1rem;
    cursor: pointer;
}

.cta-main {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.cta-sec {
    background-color: var(--secondary-color);
    color: #FFF;
}

.hero-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.rituals-description {
    padding: 2.5rem 0rem;
}
.rituals-description h3 {
    padding: 0rem 2.5rem;
}

.rituals {
    color: var(--secondary-color);
    text-align: center;
    font-family: "editorsnote", sans-serif;
    padding: 0;
}

.videos {
    padding: 2.5rem;
}

.videos video {
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
}

.meditation,
.strength,
.wellness {
    position: relative;
}

.videos h3 {
    position: absolute;
    color: var(--main-color);
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.407);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 2rem;
}

.about {
    padding: 2.5rem;
    color: var(--secondary-color);
    text-align: center;
}

.about h2 {
    font-family: "editorsnote", sans-serif;
    text-align: center;
}

.about p {
    line-height: 150%;
    font-size: 1.2rem;
}

.about img {
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
}

/* NEXT RETREAT SECTION */
.nextRetreat {
  position: relative;
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* NEXT RETREAT DIV */
.nextRetreat-Wrapper {
    position: relative;
    height: 60vh;
    width: 100vw;
    overflow: hidden;
}

.nextRetreat h2 {
    padding: 5rem 0rem;
    text-align: center;
}

/* RICEFIELDS VIDEO */
.nextRetreatVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.countdownTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: var(--main-color);
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.407);
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
    text-align: center;
}

.countdownSubheadings {
    font-size: 1.5rem;
}

.rituals {
    padding-top: 0rem;
}

.whichRetreat {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    text-align: center;
    font-family: "editorsnote", sans-serif;
    width: 100%;
}

.whichRetreat h2 {
    text-align: center;
}

.title-block {
    margin: 2rem 0rem 0rem 0rem;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.title-block h2 {
    font-size: 1.5rem;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}


.answer-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;

}

.answer-block {
    padding-top: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
    text-align: center;
    margin: 15px;
    overflow: hidden;
}

.answer-block img {
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;
}


.result-block {
    width: 100%;
    border-radius: 5px;
    text-align: center;

}

.result-block h2 {
    padding: 3rem 0rem 1rem 0rem;

}

.result-block img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;

}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    body {
        padding: 0%;
    }

    .videos {
        display: flex;
        gap: 2rem;
    }

    .about {
        display: flex;
        gap: 5rem;
        justify-content: space-between;
    }

    .about img {
        width: 50%;
    }

    .about {
        text-align: left;
    }

    /* .nextRetreat-Wrapper {
        height: 50vh;
        width: 100vw;
    }

    .front-page {
        height: 50vh;
    }

    .nextRetreatVideo {
        top: -53%;
    } */

}

@media screen and (min-width: 1200px) {
    .front-page {
        height: 80vh;
    }

    /* .nextRetreat-Wrapper {
        height: 50vh;
        width: 100vw;
    } */

    /* .nextRetreatVideo {
        top: -66%;
    } */
}